.login-wrap {
  background-image: url('/src/assets/images/background-login.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.login-wrap .row,
.login-wrap .row .col-md-12,
.login-wrap .row .col-md-12 .card-container {
  height: 100%;
  width: 100%;
}

.login-card {
  min-height: 23rem;
  max-height: 28rem;
  width: 31rem;
  background-color: aliceblue;
  border-radius: 9px;
  padding: 1rem;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9f757+0,f9bb58+100 */
  background: #f9f757; /* Old browsers */
  background: -moz-linear-gradient(left, #f9f757 0%, #f9bb58 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #f9f757 0%,
    #f9bb58 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #f9f757 0%,
    #f9bb58 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f757', endColorstr='#f9bb58',GradientType=1 ); /* IE6-9 */
}

.sign-in-heading {
  font-weight: 600;
  font-size: 23px;
}

/* .login-fields {
  background-color: #fffbde;
  padding: 0.5rem;
  border-radius: 7px;
} */

.login-form {
  padding: 1rem 3rem;
  position: relative;
}

.login-form .form-control {
  background-color: #fffbde;
  border: 0;
  padding: 0.7rem 0.8rem;
  border-radius: 13px;
}
.login-form .form-control::placeholder {
  color: rgb(166, 166, 166);
  font-size: 15px;
}
.login-form .form-control:focus,
.login-form .form-control:focus-visible {
  outline: 0;
  box-shadow: none;
  border: 0;
}

.frgt-pass {
  font-size: 11px;
  color: rgb(66, 66, 66);
  font-weight: 500;
  padding: 0 0.5rem;
  cursor: pointer;
}
.frgt-pass:hover {
  color: rgb(0, 101, 155);
}

.login-sbmt-btn {
  background-color: #3ab0b4;
  border-radius: 14px;
  color: white;
  border: 0;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.footer-txt {
  font-size: 11px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.659);
  margin-top: 4rem;
}

.teams-logo-div {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}
.teams-logo-div img {
  height: 2.5rem;
}

/* 
flipcard css */

.flip-card {
  background-color: transparent;

  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* 
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */

.flip-card-inner.is-flipped {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.go-back-to-login {
  position: absolute;
  right: 0;
}

.go-back-to-login {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.pos-abs {
  position: absolute;
  width: 100%;
}

.login-wrap .row {
  margin: 0 !important;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

i,
span {
  display: inline-block;
}
.wrapper {
  display: flex;
  align-items: stretch;
}

.appreciation-nav-row {
  width: 100%;
}
.likes-comments p {
  justify-content: space-between;
}

.profile-area p span img {
  height: 2.2rem;
}
.username {
  font-weight: 700;
  color: black;
  font-size: 13px;
  margin-left: 0.5rem;
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  background: #ffffff !important;
}

.feed-area {
  background-color: #ffffff;
  /* height: 10rem; */
  width: 100%;
  padding: 1.5rem;
}

.navbar {
  padding: 10px 7px;
  background: #fff;
  border: none;
  border-radius: 0;
  /* margin-bottom: 40px; */
}

.given-received-area {
  padding: 1.7rem;
  background-color: #e9e7e8;
}

/* .appreciate-btn :hover {
  transform: scale(1.007);
  cursor: pointer;
} */

.rec-giv-btns.nav-link {
  background-color: #f9bb58 !important;
  border-radius: 100px;
  padding: 0.7rem 1rem;
  width: 10rem;
  border: 0 !important;
  color: #ffffffd1 !important;
  font-weight: 700;
  transition: transform 530ms ease-in-out;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-right: 1rem;
}
.rec-giv-btns.nav-link.active {
  background-color: #fbd599 !important;
  border-radius: 100px !important;
  padding: 0.7rem 1rem;
  border: 0 !important;
  width: 10rem;
  color: #000000d1 !important;
  font-weight: 700;
  transition: transform 530ms ease-in-out;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-right: 1rem;
}

/* .appreciate-btn p span img {
  height: 3rem;
} */
/* .appreciate-btn p span {
  background-color: #fff;
  border-radius: 100px;
  margin-right: 1rem;
  padding: 0.4rem;
} */

.right-side-panel {
  height: 100%;
  width: 100%;
  /* background-color: red; */

  box-shadow: -2px 0px 10px 1px #e6e6e6;
}
.nav-tabs {
  border: 0;
}

.appreciation-post {
  /* height: 10rem; */
  border-radius: 17px;
  box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.appreciator-info p span img {
  height: 2.4rem;
}
.appreciator-info p span i {
  font-size: 23px;
  color: #bfbfbf;
}

.appreciation-date {
  color: #bfbfbf;
  font-size: 11px;
  font-weight: 700;
  margin-left: 0.3rem;
}

span {
  vertical-align: middle !important;
}

.shield img {
  height: 6rem;
}

.appreciation-cat-name {
  font-size: 16px;
  font-weight: 700;
  margin-left: 0.3rem;
}

.appreciation-text {
  font-size: 12px;
  font-weight: 600;
}

.appreciation-count {
  color: white;
  padding: 2px 12px;
  border-radius: 100px;
  background-color: #f7be51;
  font-size: 12px;
  font-weight: 600;
  margin-top: 0.5rem;
}

.appreciation-post :first-child.row {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #bbb0b047;
}
.appreciation-extras {
  position: relative;
  height: 100%;
}

.likes-comments {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
  font-weight: 600;
  color: #bfbfbf;
  width: 100%;
}

.likes-comments span img {
  height: 1.5rem;
}
/* .likes-comments span {
    padding-bottom: 0.5rem;
  } */

.comment-area {
  /* height: 3rem; */
  /* background-color: #f7be51; */
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
}

.comment-area span img {
  height: 1.8rem;
}

.add-cmnt {
  font-size: 10px;
  color: #bfbfbf;
  font-weight: 600;
  margin-left: 0.5rem;
}

.wall-heading {
  font-family: 'Calistoga', cursive;
  text-align: center;
  font-size: 20px;
}

.right-side-panel {
  padding-top: 1.5rem;
  padding: 0.7rem;
  /* background-color: red; */
  /* height: 91vh; */
}

#month-name {
  border: 0;
  font-size: 0.8em;
  font-weight: 700;
  color: #3ab0b4;
}

#month-name:focus-visible {
  outline: 0;
}

.wall-name {
  font-size: 10px;
  font-weight: 600;
}

.wall-appr-name {
  font-size: 11px;
  font-weight: 700;
  color: #229296;
}

.wall-see-more {
  background-color: #f9bb58;
  border-radius: 100px;
  padding: 2px 7px;
  color: white;
  font-size: 11px;
  font-weight: 600;
}

.team-wall-card {
  background-color: #ffffff;
  /* border-radius: 14px; */
  padding: 0.7rem;
  margin-top: 0rem;
  cursor: pointer;
}
.team-wall-card:hover {
  background-color: #f5f5f5;
  border-radius: 14px;
  padding: 0.7rem;
  margin-top: 0rem;
}

.team-wall-card .wall-prof {
  height: 1.7rem;
}

.page-content {
  height: auto;
}

.row {
  height: 100%;
}

.navigation-part {
  /* background-color: #f7be51; */
  padding-top: 4rem;
}

.ic-span {
  background-color: #fff;
  border-radius: 100px;

  /* display: inline-block; */
  height: 3rem;
  width: 3rem;
  /* vertical-align: middle !important; */
}

.ic-span img {
  height: 1.5rem;
}

li,
ul,
ol {
  list-style-type: none;
  padding: 0;
}

.main-menu {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.menu-item {
  list-style: none;
  position: relative;
  width: 85px;
  height: 65px;
}

.menu-txt {
  opacity: 0;
  width: 0px;
  min-width: 0px;
  overflow: hidden;
  transition: 300ms linear;
  transition-delay: 250ms;
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
}

.menu-a {
  padding: 35px 33.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.menu-item:hover .menu-txt {
  opacity: 1;
  width: 100%;
  min-width: 40px;
  padding: 0px 20px;
  transition-delay: 0s;
  color: #4c4c4c;
}

.menu-txt-hld {
  position: absolute;
  z-index: 99;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 38px;
  font-size: 0.94rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
  padding: 9.5px 9.5px;
  transition: 250ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20px;
  transition-delay: 300ms;
}

.menu-item:hover .menu-txt-hld {
  box-shadow: 0px 0px 13px rgb(43 41 41 / 80%);
  background: #ffffcc;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition-delay: 0ms;
}
.active .menu-icon {
  color: #03a9f4;
}

.main-menu .active .menu-txt-hld {
  background-color: #ffffcc !important;
}
.main-nav {
  background-color: #3ab0b4;
}

.menu-txt-hld img {
  height: 1.5rem;
  width: 1.6rem !important;
}

.bu-name {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

#buName {
  background-color: #ece8e7;
  border: 0;
  border-radius: 7px;
  font-weight: 700;
  font-size: 12px;
  padding: 0.3rem 0.5rem;
}

.bu-filter-area {
  /* margin-top: 1rem; */

  padding: 1rem 2rem 0;
}

#buName:focus-visible {
  outline: 0;
}

/* ----------------------------MY TEAM MEMBERS CSS----------------------- */

#form1 {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.team-wall-prof {
  width: 21%;
}
.team-wall-name {
  width: 79%;
}

.search-ico {
  background-color: #3ab0b4;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-ico i {
  color: white;
  font-weight: 700;
}
.search-bar:focus-visible {
  outline: 0 !important;
}
.search-bar {
  background-color: #eaeaea;
  border: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding: 0.2rem;
  font-size: 13px;
}

.searchinput {
  width: 75%;
}

.search-ico {
  width: 25%;
}

/* --------------------RESET PASSWORD----------------- */

#resetPass .modal-content {
  height: 25rem;
  width: 31rem;
  background-color: aliceblue;
  border-radius: 9px;
  padding: 1rem;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9f757+0,f9bb58+100 */
  background: #f9f757; /* Old browsers */
  background: -moz-linear-gradient(left, #f9f757 0%, #f9bb58 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #f9f757 0%,
    #f9bb58 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #f9f757 0%,
    #f9bb58 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f757', endColorstr='#f9bb58',GradientType=1 ); /* IE6-9 */
}

#resetPass .modal-dialog {
  margin-top: 10% !important;
}

.close-modal-btn {
  position: absolute;
  right: 3%;
  top: 23%;
  cursor: pointer;
}

.modal-header {
  border: 0;
  display: block;
  position: relative;
  padding: 0;
}

.reset-heading {
  font-weight: 600;
  font-size: 23px;
}

.reset-form .form-control {
  background-color: #fffbde;
  border: 0;
  padding: 0.7rem 0.8rem;
  border-radius: 13px;
}
.reset-form .form-control::placeholder {
  color: rgb(166, 166, 166);
  font-size: 15px;
}
.reset-form .form-control:focus,
.reset-form .form-control:focus-visible {
  outline: 0;
  box-shadow: none;
  border: 0;
}

.reset-sbmt-btn {
  background-color: #3ab0b4;
  border-radius: 14px;
  color: white;
  border: 0;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

/* -----COMBINED MEDIA QUERIES----- */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .shield img {
    height: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .right-side-panel {
    box-shadow: none;
    padding-left: 2rem;
  }

  .given-received-area nav div button {
    margin-bottom: 0.5rem !important;
  }

  #resetPass .modal-content {
    width: auto;
  }
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

i,
span {
  display: inline-block;
}
.wrapper {
  display: flex;
  align-items: stretch;
}

.appreciation-nav-row {
  width: 100%;
}

.profile-area p span img {
  height: 2.2rem;
}
.username {
  font-weight: 700;
  color: black;
  font-size: 13px;
  margin-left: 0.5rem;
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  background: #ffffff !important;
}

.feed-area {
  background-color: #ffffff;
  /* height: 10rem; */
  width: 100%;
  padding: 1.5rem;
}

.navbar {
  padding: 10px 7px;
  background: #fff;
  border: none;
  border-radius: 0;
  /* margin-bottom: 40px; */
}

.appreciate-someone-area {
  padding: 1.7rem;
  background-color: #e9e7e8;
  /* -moz-box-shadow: 0 0 13px #ccc;
  -webkit-box-shadow: 0 0 13px #ccc;
  box-shadow: 0 0 13px #ccc; */
}

.appreciate-btn :hover {
  transform: scale(1.007);
  cursor: pointer;
}

.appreciate-btn {
  background-color: #f9bb58;
  border-radius: 100px;
  padding: 0.4rem;
  width: 20rem;
  color: #000000d1;
  font-weight: 700;
  transition: transform 530ms ease-in-out;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.appreciate-btn p span img {
  height: 3rem;
}
.appreciate-btn p span {
  background-color: #fff;
  border-radius: 100px;
  margin-right: 1rem;
  padding: 0.4rem;
}
.likes-comments p {
  justify-content: space-between;
}

.right-side-panel {
  height: 100%;
  width: 100%;
  /* background-color: red; */

  box-shadow: -2px 0px 10px 1px #e6e6e6;
}

.appreciation-post {
  /* height: 10rem; */
  border-radius: 17px;
  box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.appreciator-info p span img {
  height: 2.4rem;
}
.appreciator-info p span i {
  font-size: 23px;
  color: #bfbfbf;
}

.appreciation-date {
  color: #bfbfbf;
  font-size: 11px;
  font-weight: 700;
  margin-left: 0.3rem;
}

span {
  vertical-align: middle !important;
}

.shield img {
  height: 6rem;
}

.appreciation-cat-name {
  font-size: 16px;
  font-weight: 700;
  margin-left: 0.3rem;
}

.appreciation-text {
  font-size: 12px;
  font-weight: 600;
}

.appreciation-count {
  color: white;
  padding: 2px 12px;
  border-radius: 100px;
  background-color: #f7be51;
  font-size: 12px;
  font-weight: 600;
  margin-top: 0.5rem;
}

.appreciation-post :first-child.row {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #bbb0b047;
}
.appreciation-extras {
  position: relative;
  height: 100%;
}

.likes-comments {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
  font-weight: 600;
  color: #bfbfbf;
  width: 100%;
}

.likes-comments span img {
  height: 1.5rem;
}
/* .likes-comments span {
  padding-bottom: 0.5rem;
} */

.comment-area {
  /* height: 3rem; */
  /* background-color: #f7be51; */
  width: 100%;
  padding-top: 1rem;
  padding-left: 1rem;
}

.comment-area span img {
  height: 1.8rem;
}

.add-cmnt {
  font-size: 10px;
  color: #bfbfbf;
  font-weight: 600;
  margin-left: 0.5rem;
}

.wall-heading {
  font-family: 'Calistoga', cursive;
  text-align: center;
  font-size: 20px;
}

.right-side-panel {
  padding-top: 1.5rem;
  padding: 0.7rem;
  /* background-color: red; */
  /* height: 91vh; */
}

#month-name {
  border: 0;
  font-size: 0.8em;
  font-weight: 700;
  color: #3ab0b4;
}

#month-name:focus-visible {
  outline: 0;
}

.wall-name {
  font-size: 10px;
  font-weight: 600;
}

.wall-appr-name {
  font-size: 11px;
  font-weight: 700;
  color: #229296;
}

.wall-see-more {
  background-color: #f9bb58;
  border-radius: 100px;
  padding: 2px 7px;
  color: white;
  font-size: 11px;
  font-weight: 600;
}

.appreciation-wall-card {
  background-color: #f5f3f4;
  border-radius: 14px;
  padding: 0.7rem;
  margin-top: 1rem;
}

.wall-prof {
  height: 1.5rem;
}

.page-content {
  height: auto;
}

.row {
  height: 100%;
}

.navigation-part {
  /* background-color: #f7be51; */
  padding-top: 4rem;
}

.ic-span {
  background-color: #fff;
  border-radius: 100px;

  /* display: inline-block; */
  height: 3rem;
  width: 3rem;
  /* vertical-align: middle !important; */
}

.ic-span img {
  height: 1.5rem;
}

li,
ul,
ol {
  list-style-type: none;
  padding: 0;
}

.main-menu {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.menu-item {
  list-style: none;
  position: relative;
  width: 85px;
  height: 65px;
}

.menu-txt {
  opacity: 0;
  width: 0px;
  min-width: 0px;
  overflow: hidden;
  transition: 300ms linear;
  transition-delay: 250ms;
  display: flex;
  align-items: center;
  position: relative;
  top: 2px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
}

.menu-a {
  padding: 35px 33.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.menu-item:hover .menu-txt {
  opacity: 1;
  width: 100%;
  min-width: 40px;
  padding: 0px 20px;
  transition-delay: 0s;
  color: #4c4c4c;
}

.menu-txt-hld {
  position: absolute;
  z-index: 99;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 38px;
  font-size: 0.94rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0);
  padding: 9.5px 9.5px;
  transition: 250ms linear;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20px;
  transition-delay: 300ms;
}

.menu-item:hover .menu-txt-hld {
  box-shadow: 0px 0px 13px rgb(43 41 41 / 80%);
  background: #ffffcc;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition-delay: 0ms;
}
.active .menu-icon {
  color: #03a9f4;
}

.main-menu .active .menu-txt-hld {
  background-color: #ffffcc !important;
}
.main-nav {
  background-color: #3ab0b4;
}

.menu-txt-hld img {
  height: 1.5rem;
  width: 1.6rem !important;
}

.bu-name {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

#buName {
  background-color: #ece8e7;
  border: 0;
  border-radius: 7px;
  font-weight: 700;
  font-size: 12px;
  padding: 0.3rem 0.5rem;
}

.bu-filter-area {
  /* margin-top: 1rem; */

  padding: 1rem 2rem 0;
}

#buName:focus-visible {
  outline: 0;
}

/* Appreciate someone pop up css */

.welcome-phrase {
  width: 100%;
  font-weight: 600;
  font-size: 13px;
  margin: 0;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px !important;
    margin: 1.75rem auto;
    margin-top: 1%;
  }
}

.modal-header {
  border: 0;
  display: block;
  position: relative;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.recog-heading {
  font-weight: 600;
  color: #3ab0b4;
  font-family: 'Calistoga', cursive;
  margin: 0;
  font-size: 23px;
}

.appreciation-form .modal-content {
  background-image: url('/src/assets/images/form-bg.jpg');
  background-size: cover;
}

.member-info input {
  border: 0;
  background-color: #fcd89e;
  text-align: center;
  /* opacity: 58%; */
  border-radius: 5px;
  font-size: 14px;
  color: black;
  font-weight: 600;
  padding: 0.5rem 1rem;
  width: 20rem;
}

.member-info input:focus-visible {
  outline: 0;
  box-shadow: 0px 0px 13px #ffe754;
}
.member-info input::placeholder {
  color: black;
}

.close-modal-btn {
  position: absolute;
  right: 3%;
  top: 23%;
  cursor: pointer;
}

.appreciation-category-area .cat-head {
  text-align: center;
  color: #3ab0b4;
  font-weight: 600;
  font-size: 20px;
  margin: 1rem;
}

.categories-shield p span img {
  height: 3rem;
  margin: 1rem 1rem;
  display: inline-block;
}
.categories-shield img {
  height: 4rem;
  margin: 1rem 1rem;
  display: inline-block;
}

/* .shield-row {
  /* padding: 0 9rem; 
} 
*/

.name-of-shield {
  font-weight: 700;
  font-size: 13px;
  margin: 0;
}

#giveAppreciation {
  border-radius: 7px;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 16%);
  border: 1px solid rgba(200, 200, 200, 0.1);
  padding: 1rem 1rem;
  font-size: 13px;
}

#giveAppreciation::placeholder {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
}

.send-to-all {
  /* display: flex;
  justify-content: center; */
  padding-top: 1rem;
}
.snd-to-all-txt {
  font-weight: 700;
  font-size: 13px;
}

/* toggle switch css */
.form-check-input:checked {
  background-color: #3ab0b4;
  border-color: #3ab0b4;
}

/* submit btn css */

.sbmt-btn :hover {
  transform: scale(1.007);
  cursor: pointer;
}

.sbmt-btn {
  background-color: #f9bb58;
  border-radius: 100px;
  padding: 0.2rem;
  width: 7rem;
  color: #ffffffd1;
  font-weight: 700;
  transition: transform 530ms ease-in-out;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.sbmt-btn p span img {
  height: 1rem;
}
.sbmt-btn p span {
  background-color: #fff;
  border-radius: 100px;
  margin-right: 0.2rem;
  padding: 0.25rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.img-wrpp img:hover {
  transform: scale(1.2);
}
.img-wrpp img {
  cursor: pointer;
}

/* -----COMBINED MEDIA QUERIES----- */

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .shield img {
    height: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .right-side-panel {
    box-shadow: none;
    padding-left: 2rem;
  }
  .shield-row .col {
    width: 25%;
    margin-right: 1rem;
  }
}

.profile-wrap {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.prof-header-bg {
  height: 22rem;
  background: #f9f757; /* Old browsers */
  background: -moz-linear-gradient(left, #f9f757 0%, #f9bb58 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #f9f757 0%,
    #f9bb58 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #f9f757 0%,
    #f9bb58 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f757', endColorstr='#f9bb58',GradientType=1 ); /* IE6-9 */
}

.prof-card {
  min-height: 25rem;
  max-height: 28rem;
  width: 40rem;
  background-color: white;
  border-radius: 7px;
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3);
}

/* .prof-card-inner {
  position: relative;
} */
.prof-card-inner-bottom {
  height: 100%;
}
.user-info {
  padding-top: 5% !important;
  padding: 7%;
}

.profile-photo {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.4);

  height: 9rem;
  width: 9rem;
  border-radius: 100px;
  background-color: wheat;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  background-image: url('/src/assets/images/prof-img-appr.png');
  background-size: contain;
  /* background-position: center; */
}

.profile-info {
  /* height: 3rem; */
  background-color: rgba(133, 133, 133, 0.149);
  padding: 0.8rem;
}

.side-info {
  width: 40%;
}
.mid-info {
  width: 20%;
}

.categories-shield p span img {
  height: 1.5rem;
  /* margin: 1rem 1rem; */
  display: inline-block;
}
.categories-shield img {
  height: 1.5rem;
  /* margin: 1rem 1rem; */
  display: inline-block;
}

.shield-row {
  padding: 0 9rem;
}

/* .img-wrpp img:hover {
  transform: scale(1.2);
} */
.img-wrpp img {
  cursor: pointer;
}

.value-count {
  font-weight: 700 !important;
  font-size: 1em !important;
  color: #000000b8;
}

.user-location {
  font-size: 0.7em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
.user-designation {
  font-size: 0.9em;
  font-weight: 600;
  color: #3ab0b4;
}

.shield-row p .mx-4 {
  background-color: white;
  padding: 0.5rem;
  border-radius: 6px;
}

.info-key {
  font-weight: 600;
  font-size: 14px;
  color: #3ab0b4;
  text-align: center;
}
.info-value {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.617);
  font-size: 15px;
  margin-bottom: 1rem !important;
  text-align: center;
}

.personal-info {
  margin-top: 3rem;
}

hr {
  color: #808080cf !important;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .prof-card {
    width: 90% !important;
    height: auto;
  }

  .profile-photo {
    height: 6rem;
    width: 6rem;
  }

  .value-count {
    text-align: center !important;
    width: 100% !important;
    display: inline-block !important;
  }
}
